# User specific environment and startup programs
export PATH
unset USERNAME
export ORACLE_SID={{db_name}}
export ORACLE_HOME={{oracle_home}}
export OPATH=$ORACLE_HOME/bin:$ORACLE_HOME/OPatch/:./:$OPATH
export LD_LIBRARY_PATH=$ORACLE_HOME/lib
export HISTTIMEFORMAT='%d/%m/%y %T'
export ORACLE_HOME_LISTENER=$ORACLE_HOME
export TNS_ADMIN=$ORACLE_HOME/network/admin
alias sysdba='sqlplus / as sysdba'
alias l='ls -lrt'
alias pmon='ps -ef |grep pmon|grep -v grep'
alias tns='ps -ef |grep tns|grep -v grep'
export ORACLE_HOME_LISTNER=$ORACLE_HOME
alias diag='cd /orabin/oracle/diag/rdbms/${ORACLE_SID,,}/$ORACLE_SID/trace'
alias duh='du -h --max-depth=1 .|sort -n -r'
export PATH=$PATH:$ORACLE_HOME/bin:$OPATH
alias gg='. /oradba/maint/.avail'
. /oradba/maint/.avail